/* HERO */

.about-hero {
  height: 400px;

  display: flex;

  align-items: center;

  justify-content: center;

  text-align: center;

  color: white;

  background:
    linear-gradient(rgba(11, 39, 66, 0.85), rgba(11, 39, 66, 0.85)),
    url("../images/slika.jpg");

  background-size: cover;

  background-position: center;
}

.about-hero h1 {
  font-size: clamp(40px, 6vw, 60px);

  margin-bottom: 15px;
}

.about-hero p {
  font-size: 20px;
}

/* UVOD */

.about-intro {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 50px;

  align-items: center;
}

.about-text h2 {
  color: #0b2742;

  font-size: 35px;

  margin-bottom: 20px;
}

.about-text p {
  font-size: 18px;

  margin-bottom: 20px;
}

.about-box {
  background: #f5f7fa;

  padding: 40px;

  border-radius: 20px;

  text-align: center;
}

.about-box i {
  font-size: 55px;

  color: #d4a017;

  margin-bottom: 20px;
}

/* VRIJEDNOSTI */

.values {
  background: #f5f7fa;
}

/* STATISTIKA */

.about-stats {
  background: #0b2742;

  color: white;

  display: flex;

  justify-content: center;

  align-items: center;

  gap: 100px;

  text-align: center;

  padding: 70px 8%;
}

.about-stats h2 {
  font-size: 45px;

  color: #d4a017;
}

.about-stats p {
  font-size: 18px;
}

@media (max-width: 700px) {
  .about-stats {
    flex-direction: column;

    gap: 35px;
  }

  .about-hero {
    height: 350px;
  }
}
