.services-hero {
  min-height: 500px;

  display: flex;

  align-items: center;

  padding: 80px 8%;

  color: white;

  background:
    linear-gradient(rgba(7, 29, 51, 0.88), rgba(7, 29, 51, 0.88)),
    url("../images/slika.jpg");

  background-size: cover;

  background-position: center;
}

.services-hero h1 {
  font-size: 55px;

  max-width: 800px;

  line-height: 1.2;
}

.services-hero p {
  font-size: 22px;

  margin-top: 25px;
}

.service-info {
  background: #f7f9fc;
}

.info-grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 40px;

  text-align: center;
}

.info-grid div {
  background: white;

  padding: 40px;

  border-radius: 20px;

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

.info-grid i {
  font-size: 45px;

  color: #c9a227;

  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .services-hero h1 {
    font-size: 38px;
  }

  .info-grid {
    grid-template-columns: 1fr;
  }
}
